.classpath
.project
.settings/

repo/

src/main/java/de/hpi/smm/meetup_miner/config/Secrets.java
lib/com.sap.db.jdbc.hana_1.0.0.SNAPSHOT.jar

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/target
/target
/target
